<%= simple_form_for(@todo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :task %>
    <%= f.input :deadline %>
    <%= f.input :completed %>
    <%= f.input :details %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
