<p id="notice"><%= notice %></p>


<h1>Todos</h1>

<ul class="nav nav-tabs">
  <li class="<%= 'active' unless current_scopes.keys.include?(:completed) || current_scopes.keys.include?(:un_completed) %>"><a href="<%= todos_path %>">All</a></li>
  <li class="<%= 'active' if current_scopes.keys.include? :completed %>"><a href="<%= todos_path(completed: true) %>">Completed</a></li>
  <li class="<%= 'active' if current_scopes.keys.include? :un_completed %>"><a href="<%= todos_path(un_completed: true) %>">Not Completed</a></li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th><%= sort_link @q, :task %></th>
      <th><%= sort_link @q, :deadline %></th>
      <th><%= sort_link @q, :completed %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <%= render partial: todo , :locals => {todo: todo}%>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo', new_todo_path, class: 'btn btn-default' %>
